# build output
dist/
.vercel/
.output/

# astro
.astro/

# dependencies
node_modules/

# env
.env
.env.production
.env.local
!.env.example

# logs
npm-debug.log*
*.log

# os / editor
.DS_Store
Thumbs.db

.vercel
